force-app/main/default/flows/common_ammount_devide.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>addUpdateList</name>
        <label>更新用リストに割り当て</label>
        <locationX>342</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>UpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RoopHensu</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Roop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>seisaku_siharai_record_count</name>
        <label>制作支払レコード数</label>
        <locationX>489</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>seisaku_siharai_record_number</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>seisaku_siharai_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Roop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setField</name>
        <label>ループ変数に割り当て</label>
        <locationX>646</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>RoopHensu.record_count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>seisaku_siharai_record_number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoopHensu.seikyu_invoice_month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>common_amount_month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoopHensu.common_ammount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>common_ammount_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoopHensu.common_amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>kyoutuuhi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addUpdateList</targetReference>
        </connector>
    </assignments>
    <interviewLabel>共通費按分用 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>共通費按分用</label>
    <loops>
        <name>Roop</name>
        <label>割り当てループ</label>
        <locationX>488</locationX>
        <locationY>236</locationY>
        <assignNextValueToReference>RoopHensu</assignNextValueToReference>
        <collectionReference>seisaku_siharai_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setField</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>seisaku_shiharai_record_syutoku</name>
        <label>制作支払レコード取得</label>
        <locationX>276</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>seisaku_siharai_record_count</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>kyoutsuhi_type_name</elementReference>
            </value>
        </filters>
        <filters>
            <field>seikyu_invoice_month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>common_amount_month</elementReference>
            </value>
        </filters>
        <object>SeisakuSiharai__c</object>
        <outputReference>seisaku_siharai_record</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update</name>
        <label>Update</label>
        <locationX>854</locationX>
        <locationY>233</locationY>
        <inputReference>UpdateList</inputReference>
    </recordUpdates>
    <startElementReference>seisaku_shiharai_record_syutoku</startElementReference>
    <status>Active</status>
    <variables>
        <name>common_ammount_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>common_amount_month</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>kyoutsuhi_type_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>kyoutuuhi</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RoopHensu</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SeisakuSiharai__c</objectType>
    </variables>
    <variables>
        <name>seisaku_siharai_record</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SeisakuSiharai__c</objectType>
    </variables>
    <variables>
        <name>seisaku_siharai_record_number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SeisakuSiharai__c</objectType>
    </variables>
</Flow>
